<% include partials/header %>

<div class="container">
    <div class="row mt-5">
        <div class="md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Id</th>
                        <th>creador</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                        <% for(var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td>
                                    <a href="/update/<%= data[i].Id %>" class="btn btn-info">
                                        Editar
                                    </a>
                                </td>
                                <td><%= (i +1) %></td>
                                <td><%= data[i].Creador %></td>
                                <td><%= data[i].Fecha %></td>
                                <td><%= data[i].Estado %></td>
                                <td><%= data[i].Detalle %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="md-5">
            <div class="card">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="text" name="creador" placeholder="Nombre" class="form-control">            
                    </div>
                    <div class="form-group">
                        <input type="text" name="fecha" placeholder="Fecha" class="form-control">            
                    </div>
                    <div class="form-group">
                        <input type="text" name="estado" placeholder="Estado" class="form-control">            
                    </div>
                    <div class="form-group">
                        <input type="text" name="detalle" placeholder="Detalle" class="form-control">            
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
